
.navbar {
  margin-bottom:10px;
}

/* Modify the header background color */
.bg-custom {
  background-color: #6D4E56;
}

/* Put some space between nav items */
.nav-space-right {
  margin-right: 5px;
}

/* Card box used for sign up or log in */
.card {
  border: 1px solid #6d4e569f;
}
.card-header {
  background-color: #fbbc05;
  color: #6D4E56;
  padding-bottom: 0px;
}

.bottom {
  padding-top: 50px;
}